#grad1 {
    height: 100%;
    background-image: linear-gradient(#ADADAD,#83677B,#64485C);
}

#toppara{
    
}

.center {
    margin: auto;
    width: 100%;
    text-align: center;    
}

.blowup{
    width:55%;
    margin-right:2%;
    margin-bottom:5%; 
    float: left;
}

.round{
    
}

.blowup img{
    width:100%
}

.paragraph{
    width:42%;
    float:left;
}

.clearfix{
    clear:both
}